<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.twofivesix.pt" android:versionName="0.2" android:versionCode="6">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".activities.LoginActivity" android:theme="@android:style/Theme.Black.NoTitleBar"><intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity><activity android:label="@string/app_name" android:name=".activities.ViewQuestionsListActivity">
        </activity>
        <activity android:label="@string/add_question_label" android:name=".activities.AddEditQuestionActivity"></activity>
        
        <activity android:label="@string/register_title" android:name=".activities.RegisterActivity"></activity>
        <activity android:label="@string/app_name" android:name=".activities.ViewPartnersListActivity"/>
        <activity android:label="@string/settings_label" android:name=".activities.SettingsActivity"></activity>
        
        
        <activity android:name=".activities.ReportingActivity"></activity>
        <activity android:name=".activities.TileHomeActivity" android:theme="@style/customTheme"></activity><receiver android:name=".alarms.OnStartupResponse">
	        <intent-filter>  
		        <action android:name="android.intent.action.BOOT_COMPLETED" /> 
		    </intent-filter>  
        </receiver><service android:name=".data.alarms.QuestionPromptAlarm"></service><service android:name=".alarms.DailyQuestionPrompt"></service>
        
		
    </application>
</manifest>